body::-webkit-scrollbar {
    width: 8px;          /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    /* color of the tracking area */
    background-color: #eee;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #bdc3c7;  /* creates padding around scroll thumb */
}

.card-body::-webkit-scrollbar {
    width: 8px;          /* width of the entire scrollbar */
}
  
.card-body::-webkit-scrollbar-track {
    /* color of the tracking area */
    background-color: #eee;
}
  
.card-body::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #bdc3c7;  /* creates padding around scroll thumb */
}

