#button_help{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    margin-right: 27px;
}

#nav_tab{
    width: 280px;   
}

.disciplina, .aula{
    display: flex;
    align-self: flex-start;
}
#disciplina{
    padding: 10px;
    margin: 5px 0 5px 0;
    color: #666;
}

#login_block{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}
.publico{
    font-size: 1.5em;
    color: #616773;
}
.compartilhe{
    font-size: 1.2em;
}

/*CSS do icone de mensagens*/
#mensagem .form-group{
    width: 200px;
}

#labelTitle{
    top: -31px;
}
#titulo{
    margin-top: 40px;
}
#dataIni, #dataFim{
    margin-top: 40px;
}

/*Modificando o selecpicer*/
.dropdown-item.selected.active{
    display: none;
}

/*CSS para o formulário personalizado*/
fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}	

legend{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px;   
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}

#card{
    margin-top: -30px;
}

/*CSS para os cards das disciplinas*/
.owl-carousel .owl-nav .owl-prev{
    margin-right: 20px;
}
.owl-carousel .owl-nav .owl-next{
    margin-left: 20px;
}
.owl-carousel .owl-nav .owl-prev span{
    font-size: 5em;
}
.owl-carousel .owl-nav .owl-next span{
    font-size: 5em;
}
.owl-carousel .owl-nav{
    display: flex;
    justify-content: center;
    
}

/*CSS dos Cards Drops*/
#cardDrop{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
#cardDrop .card-img-top{
    width: 40%;
    align-self: center;
}
#cardDrop .card-body{
    padding: 10px;
}

#googleClarrom{
    display: none;
}

/*div.tox.tox-tinymce{
    height: 300px;
}*/

#minimizer{
    position: relative;
    top: -35px;
    left: 295px;
}

#configs .form-control:read-only {
    background-color: #95a5a6;
}
#nome::placeholder, #desc::placeholder, #content::placeholder {
    color: #fff;
}

#nome, #desc, #content{
    border-radius: 4px;
    height: 47px;
    background-position: 0;
}

.breadcrumb{
    background-color: #95a5a6;
}
.breadcrumb .breadcrumb-item{
    color: #fff;
}

#search .col-lg-6{
    padding-right: 0;
}

#search .col-lg-8{
    padding-right: 0;
}

#search input[type="search"]{
    display: block;
    width: 100%;
    height: calc(1.7em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    background-position: 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#search .form-control, .is-focused .form-control {
    background-image: none;
    background-color: #fff;
}

.form-group .bmd-label-static {
    top: 0;
}

#searchData #dataIni, #dataFim {
    margin-top: 36px;
}

#accordionMaisdetalhes{
    margin-left: 50px;
}

#h2Maisdetalhes{
    position: relative;
    top: 20px;
    left: -40px;
}

#datetimes{
    max-width: 280px;
    padding: 6px;
    width: 100%;
    border: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 32px;
}